.main {
    padding: 25px;
    width: 700px;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cartItem, .bottom-item {
    display: flex;
    justify-content: space-between;
}

.cartItem img {
    width: 40%;
}

@media screen and (max-width: 650px) {
    .cartItem {
        flex-direction: column;
    }

    .bottom-item {
        flex-direction: column-reverse;
    }

    .main {
        width: 100%;
    }
}

.item-price p {
    font-size: 20px;
    font-weight: bolder;
}

.bottom-item {
    justify-content: flex-end;
    justify-content: space-between;
}